@import "~tailwindcss/base";
@import "~tailwindcss/components";
@import "~tailwindcss/utilities";

.primary-color {
 color: #1FA7D9;
}

.primary-bg {
 background-color: #1FA7D9;
}

.hide-section {
 display: none;
}
